@charset "UTF-8"; /*Para não ter problemas com caracteres especias*/

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #468bfc, #4e82d6, #3266c0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #102d5f;
    text-align: center;
    text-shadow: 1px 1px 2px #ca1919;
}

h2 {
    color: #286FE0;
}

p {
    text-align: justify;
    color: black;
}
