@charset "UTF-8";

* {
    /*margin: 0px;*/ /*Verificar se faz sentido ter*/
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
} /*Para esconder a barra de rolagem*/

body {
    background: url('imagens/dev.png') no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 750px 422px;
    background-attachment: fixed;
    background-color: #09c6a2;
}

header {
    animation: changeBg 5s infinite alternate linear;
    width: 70px;
    height: 70px;

    border-radius: 50%;
}
.logo {
    height: 60px;
    width: 60px;
    padding: 5px;
}

@keyframes changeBg{
    0% {
        background: #2181bd;
    }
    25% {
        background: #3c2e7ca2;
    }
    50% {
        background: #09c6a300;
    }
    75% {
        background: #c2be06;
    }
    100% {
        background: #f305f7;
    }
}

a {
    color: #000000;
}

#modulo3 {
    background-color: #2490d8d1;
    width: 200px;
}

#modulo4 {
    background-color: #185b88d1;
    width: 200px;
}

/*Tabela*/
table {
    width: 500px;
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 8px;
}

col.c1 {
    background-color: #2ada2a;
}
            
col.c2 {
    background-color: #2ada2a;
}

col.c3 {
    background-color: #2ada2a;
}

col.c4 {
    background-color: #2ada2a;
}

col.c5 {
    background-color: #e9ec0a;
}

footer {

    border-radius: 50px;
    position: absolute;
    bottom: 0px;
    width: 99%;

    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p {
    margin: 4px;
}