@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('imagens/dev.png');
    background-position: center;
}


header {
    animation: changeBg 5s infinite alternate linear;
}

@keyframes changeBg{
    0% {
        background: #aa0808;
    }
    25% {
        background: #3415bea2;
    }
    50% {
        background: #0aae51;
    }
    75% {
        background: #c2be06;
    }
    100% {
        background: #f305f7;
    }
}

header {
    font-variant: small-caps;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
}

h1 {
    color: red;
    text-shadow: #000000 1px 1px;
}

a {
    color: #000000;
}

ul {
    border-radius: 30px;
}

#modulo1 {
    background-color: #2490d851;
}

#modulo2 {
    background-color: #2490d899;
}

#modulo3 {
    background-color: #2490d8d1;
}

#modulo4 {
    background-color: #185b88d1;
}

/*Tabela*/
table {
    width: 500px;
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 8px;
}

col.c1 {
    background-color: #abacab;
}
            
col.c2 {
    background-color: #abacab;
}

col.c3 {
    background-color: #abacab;;
}

col.c4 {
    background-color: #abacab;
}

col.c5 {
    background-color: #abacab;
}