@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; /*Fonte Padrão*/
    --fonte2: 'Passion One', cursive; /*Titulo*/
    --fonte3: 'Sriracha', cursive; /*Conteudo*/
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*deixar a fonte grande*/
    font-family: var(--fonte2); /*Fonte da letra*/
    font-size: 8vw; /*vw = Largura da tela*/
    /*font-size: 4em; /*Tamanho da letra - "em" é para informar que vai ser 4 vezes maior que o tamanho original*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white; /*cor da letra*/
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*espaço entra as linhas*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black; /*cor da letra*/
}

section.imagem {
    background-color: gray;
    color: white;/*cor da letra*/
    padding-top: 100px;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: #00000077;
    text-shadow: 1px 1px 0px black;
 
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white; /*cor da letra*/
    text-align: center; /*Centralizar o texto*/
    padding: 10px;
}