  .logogif {
    max-height: 50px;
  }

  .logo {
    max-height: 40px;
  }

  .services {
    --background-color: rgba(var(--heading-color-rgb), .05);
  }
  
  .services .service-item {
    box-shadow: 0px 5px 90px 0px rgba(var(--default-color-rgb), 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background-color: var(--contrast-color);
    height: 100%;
  }
  
  .services .service-item .icon {
    margin-bottom: 10px;
  }
  
  .services .service-item .icon i {
    color: var(--accent-color);
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services .service-item h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .services .service-item h4 a {
    color: var(--heading-color);
    transition: ease-in-out 0.3s;
  }
  
  .services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .service-item:hover {
    transform: translateY(-10px);
  }
  
  .services .service-item:hover h4 a {
    color: var(--accent-color);
  }
  
  .team .team-member {
    box-shadow: 0px 2px 15px rgba(var(--default-color-rgb), 0.1);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    padding: 30px;
    height: 100%;
  }
  
  @media (max-width: 468px) {
    .team .team-member {
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  
  .team .team-member .pic {
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  
  .team .team-member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .team-member:hover {
    transform: translateY(-10px);
  }
  
  .team .team-member .member-info {
    padding-left: 30px;
  }
  
  @media (max-width: 468px) {
    .team .team-member .member-info {
      padding: 30px 0 0 0;
      text-align: center;
    }
  }
  
  .team .team-member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .team .team-member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .team-member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: rgba(var(--default-color-rgb), 0.15);
    bottom: 0;
    left: 0;
  }
  
  @media (max-width: 468px) {
    .team .team-member span::after {
      left: calc(50% - 25px);
    }
  }
  
  .team .team-member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .team-member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  
  @media (max-width: 468px) {
    .team .team-member .social {
      justify-content: center;
    }
  }
  
  .team .team-member .social a {
    background: rgba(var(--default-color-rgb), 0.06);
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 36px;
    height: 36px;
  }
  
  .team .team-member .social a i {
    color: rgba(var(--default-color-rgb), 0.8);
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .team-member .social a:hover {
    background: var(--accent-color);
  }
  
  .team .team-member .social a:hover i {
    color: var(--contrast-color);
  }
  
  .team .team-member .social a+a {
    margin-left: 8px;
  }
  